<mat-list>
  @for (location of _locations; track location.name) {
    <mat-list-item (click)="onLocationSelected(location)">
      <h3>
        <span class="location-name">{{ location.name }}, {{ location.country }}</span>
        <span class="fi fi-{{ location.country | lowercase }}"></span>
        <span class="mat-caption">{{ location.lat | number : '1.3-3' }}
          , {{ location.lon | number : '1.3-3' }}</span>
        <button mat-icon-button (click)="removeLocation(location)">
          <mat-icon>delete</mat-icon>
        </button>
      </h3>
    </mat-list-item>
  }
</mat-list>

