.search-form {
  display: flex;
  min-width: 250px;
  width: 500px;
  margin: 0 auto;
  height: 40px;
  border-radius: 4px;
}

.search-input {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
}

.search-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #333;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.city-list {
  position: absolute; /* Position absolutely within the form */
  /*top: 100%; !* Position it just below the form *!*/
  width: 100%; /* Ensure the list matches the width of the form */
  max-width: 400px;
  margin: 0; /* Remove margin to prevent shifting */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white; /* Ensure the background covers elements below */
  z-index: 1000; /* Ensure the list is on top of other elements */
}

mat-list-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

mat-list-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fi {
  margin-left: 0.5rem;
}

.mat-caption {
  display: block;
  font-size: 0.8rem;
  color: #757575;
}
