<form (ngSubmit)="onSubmit()" class="search-form">
  <input
    type="text"
    [(ngModel)]="cityName"
    name="cityName"
    required
    placeholder="Search city"
    class="search-input"
  />
  <button type="submit" [disabled]="!cityName" class="search-button">
    Search
  </button>
</form>

@if (locations.length > 0) {
  <div #cityList class="city-list">
    <mat-list>
      @for (location of locations; track location.name) {
        <mat-list-item (click)="onLocationSelected(location)">
          <h3 mat-line>
            {{ location.name }}, {{ location.country }}
            <span class="fi fi-{{ location.country | lowercase }}"></span>
            <span class="mat-caption">{{ location.lat | number : '1.3-3' }}
              , {{ location.lon | number : '1.3-3' }}</span>
          </h3>
        </mat-list-item>
      }
    </mat-list>
  </div>
}
