.hourly-forecast {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}

.forecast-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.forecast-item p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.forecast-item img {
  width: 40px;
  height: 40px;
}
