<h2>Hourly Forecast</h2>
@if (hourlyWeatherData) {
  <div class="component-container">
    @for (forecast of getNextTenHours(); track forecast.dt) {
      <div class="forecast-item">
        <p class="time">{{ getFormattedDate(forecast.dt) }}</p>
        <p class="temperature">{{ forecast.temp | number: '1.0-0' }} {{ getUnitSymbol() }}</p>
        <img src="http://openweathermap.org/img/wn/{{ forecast.weather[0].icon }}.png" alt="Weather icon">
        <p class="precipitation">{{ (forecast.pop * 100) | number: '1.0-0' }}%</p>
      </div>
    }
  </div>
}
