.weather-dashboard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-units {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 10px;
}

.main-content {
  display: flex;
  gap: 30px;
}

.current-weather,
.favorite-locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.current-weather > * {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.favorite-locations > * {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.forecast-area {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
}

.forecast {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.forecast .forecast-item:last-child {
  border-bottom: none;
}

.forecast .forecast-item .date {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .search-units {
    flex-direction: column;
    gap: 10px;
  }

  .main-content {
    flex-direction: column;
  }

  .forecast-area {
    flex-direction: column;
    overflow-x: auto;
  }

}
